.girda{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 16px;
  padding: 20px;
  margin: 20px;
}

.carta {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .carta:hover {
    transform: scale(1.05);
  }
  
  .carta img {
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .carta h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }
  
  .carta p {
    font-size: 1.2em;
    color: #555;
  }

  .detalle{
    background-color: #1e75bc; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
  }
  .detalle:hover {
    background-color: #0e4674; /* Verde más oscuro */
  }
  
  .detalle a {
    color: white;
    text-decoration: none;
  }

